<!DOCTYPE html>
<html>
	<head>
	<link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles.css') }}">
	</head>
<title>web-tool</title>
<body>
	<h1><center>Recipe Management Module</center></h1>
<div class = 'pane'>
	<h4><u>Categories</u></h4>
	<table style="width:50%">
	{% set cat = ['Tea','Cakes','Pizza','Sweets']%}
	{%- for row in cat|batch(2, '&nbsp;') %}
  		<tr>
  		{%- for column in row %}
		<td><a href={{ column }}><b>{{ column }}</b></a></td>
  		{%- endfor %}
  		</tr>
	{%- endfor %}
	</table>

	</br>
	<h4><u>Recipes</u></h4>
	<table style="width:50%">
	{%- for row in hprecipes|batch(3, '&nbsp;') %}
  		<tr>
  		{%- for column in row %}
		<td>{{ column }}</td>
  		{%- endfor %}
  		</tr>
	{%- endfor %}
	</table>
</div>

</body>
</html>

