<!DOCTYPE html>
<html>
<title>web-tool</title>
<body>
	<div><center>Home Page: TIVA-Tesing-UI</center></div>
	<h3>Recipe Management Module</h3>
	<p><u>Categories</u></p>

	<table style="width:50%">
	{%- for row in hpcat|batch(2, '&nbsp;') %}
  		<tr>
  		{%- for column in row %}
		<td><a href={{ column }}>{{ column }}</a></td>
  		{%- endfor %}
  		</tr>
	{%- endfor %}
	</table>

	</br>
	<p><u>Recipes</u></p>

	<table style="width:50%">
	{%- for row in hprecipes|batch(3, '&nbsp;') %}
  		<tr>
  		{%- for column in row %}
    		<td>{{ column }}</td>
  		{%- endfor %}
  		</tr>
	{%- endfor %}
	</table>

</body>
</html>

