<html>
	<head>
	<link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles.css') }}">
	</head>
<body>
</br>
<h1><center>Recipe Management Module</center></h1>
<div class = 'pane'>
	<h4>Create New Recipe for the Category: {{ cat }}</h4>

<form action="{{url_for('newRecipeItem', cat=cat)}}" method = 'POST'>

<table>
<tr>
    <td>Recipe Name</td>
    <td>:</td>
    <td><input type='text' size='30' name='recipe_name' placeholder='Recipe Name'></td>
    <td></td>
    <td></td>
</tr>
<tr>
    <td>Cooking Time in Minutes</td>
    <td>:</td>
    <td><input type='text' size='30' name='minutes' placeholder='Cooking Time in Minutes'></td>
    <td></td>
    <td></td>
</tr>
<tr>
    <td>Ingredient 1</td>
    <td>:</td>
    <td><input type='text' size='20' name='one' placeholder='Ingredient 1'></td>
    <td><input type='text' size='2' name='qtyone' placeholder='Qty 1'></td>
    <td>this is a list</td>
</tr>
<tr>
    <td>Ingredient 2</td>
    <td>:</td>
    <td><input type='text' size='20' name='two' placeholder='Ingredient 2'></td>
    <td><input type='text' size='2' name='qtytwo' placeholder='Qty 2'></td>
    <td>this is a list</td>
</tr>

</table>
</br>
<input type='submit' value='Create'>

</form>

</div>
</body>
</html>
