<html>
	<head>
	<link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles.css') }}">
	</head>
<body>
	        <h1><center>Recipe Management Module</center></h1>

	<div class = 'pane'>

<p>New Recipe for the Category:<b>{{ cat }}</b></p>
<p>Recipe ID: {{ recipe_id }} </p>
</br>
<p>Data: {{ data}}</p>
<br>

<center>
<a href = '/'> Home </a>|
<a href = '{{ url_for('editRecipeItem', cat = cat, recipe_id = recipe_id) }}'> Edit </a>|
<a href = '{{ url_for('deleteRecipeItem', cat =cat, recipe_id = recipe_id) }}'> Delete </a>
</center>
</div>
</body>
</html>
